
  .top{
  display: flex;
  background-color: #1e3770;
  color:white;
  height:50px;
  justify-content: space-around;
  align-items: center;
}
.topmenu>li{

  float:left;
  margin-right:50px;
  list-style-type: none;
}
.size{
  border:2px solid white;

}
.size:hover{
background-color:darkblue;
cursor:pointer;
}
#skip:hover{
  cursor:pointer;
  text-decoration: underline;
}
a{
  text-decoration: none;

}
a:hover{
  text-decoration: underline;
}
.title{
  color:white;
}
.login{
  height:72px;
  width:100%;
  background-color: #f8f9fa;

}
.lo{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  align-items: center;
}
.mid>li
{
  float:left;
  list-style-type: none;
  margin-right:50px;

}
.sign{
  background-color:#ffc107;
  padding:10px;
  border-radius: 25px;
  font-size: 25px;
  color:black;
}
.l{
  color:darkblue;
  font-weight: bolder;
  font-size: 20px;
}
.l:hover{
  color:#ffc107;
}
hr {
    color: grey;
}
.sign:hover{
  cursor:pointer;
  text-decoration: underline;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1033px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.a1 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.helpline,.check{
text-align: center;
height:50px;
font-size:25px;
font-weight: bolder;

}
.number{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.help{
  margin-right: 50px;
  font-weight: 600;
  font-size: 20px;
}
.container{
  padding:10px;
}
.middle{
  margin:10px;
  height:273px;
  width:100%;
  text-align: center;
}
.button{
  display: inline;
  padding: 10px;
  font-size:20px;
  font-weight: bolder;
  color:white;
  border-radius: 25px;
  background-color: #002060;
  cursor:pointer;
}
.partner{
  display: flex;
  margin:50px;
  justify-content: space-around;
  align-items: center;
}
